/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    @apply text-white;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-image: url("/src/assets/industry-above.jpg"); */
  background-image: url("/src/assets/background-yangon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  background-color: black;
}